{
	"extends": "@essex/eslint-config/rome",
	"globals": {
		"self": "writable"
	},
	"rules": {
		"@essex/extensions": "off",
		// This rule has been disabled because the raw-loader plugin that
		// rollup is using requires these to exist as import() statements.
		"@typescript-eslint/ban-ts-ignore": 0,
		"@typescript-eslint/ban-ts-comment": 0,

		// TODO: this should probably be re-enabled before publication
		// This rule is disabled because we are using TypeScript for props validation, not prop-types
		"react/prop-types": 0,

		// TODO: re-enable
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/ban-types": 0,
		"@typescript-eslint/no-non-null-asserted-optional-chain": 0,
		"@typescript-eslint/explicit-module-boundary-types": 0,

		/* TODO: type-aware rules, re-enable? */
		"@typescript-eslint/no-unsafe-call": "off",
		"@typescript-eslint/no-unsafe-member-access": "off",
		"@typescript-eslint/no-unsafe-assignment": "off",
		"@typescript-eslint/no-unsafe-argument": "off",
		"@typescript-eslint/no-unsafe-return": "off"
	}
}
