# NodeJS Outputs
node_modules/
lib/
dist/
build/
storybook-static/
site/

# Misc
*.log
.DS_Store
tmp/
.docz
monaco-bundle

# Test Output
coverage/
performance/
test-report.xml
report*.json
.turbo

# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# TODO: these screw with the typedoc generation - maybe just put them in docs/?
# !**/dist/docs
# !**/dist/docs/globals.md
