node_modules
lib/
site
*.log
.DS_Store
tmp/
coverage/
test-report.xml
report*.json
build/
dist/
storybook-static/
/performance
.docz
monaco-bundle

# TODO: these screw with the typedoc generation - maybe just put them in docs/?
# !**/dist/docs
# !**/dist/docs/globals.md
